<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.spring.mapper.MemberMapper">
    
    <!-- 회원가입 -->
    <insert id="joinTry" parameterType="com.spring.mapper.MemberVO">
        insert into mo_member(id, pw, name, gender, age, checknum)
        values(#{id}, #{pw}, #{name}, #{gender}, #{age}, #{checknum})
    </insert>
    
 	<!-- 로그인 -->
    <select id="logmain" parameterType="String" resultType="com.spring.mapper.MemberVO">
    	select * from mo_member where id = #{id}
    </select>
    
    <!-- 게시글 전체검색 -->
    <select id="community" resultType="com.spring.mapper.BoardVO">
        select * from mo_board
    </select>
    
    <!-- 게시글 하나 보기 -->
    <select id="community_view" parameterType="int" resultType="com.spring.mapper.BoardVO">
        select * from mo_board where no = #{no}
    </select>
    
    <!-- 댓글목록보기 -->
    <select id="viewComment" resultType="com.spring.mapper.CommentVO">
        select no, id, content day
        from mo_comment
        where no = #{no}
        order by no asc
    </select>
    
    <!-- 댓글입력 -->
    <insert id="writeComment" parameterType="com.spring.mapper.CommentVO">
        insert into mo_comment(no, id, content, day)
        values(#{no}, #{id}, #{content}, now())
    </insert>
    
    <!-- 댓글삭제 -->
    <delete id="delete" parameterType="int">
        delete from mo_comment where no = #{no}
    </delete>
    
    <!-- 게시글 입력 -->
    <insert id="insertBoard" parameterType="com.spring.mapper.BoardVO">
        insert into mo_board(id, title, content, file, day)
        values(#{id}, #{title}, #{content}, #{file}, now())
    </insert>
    
    <!-- 마이페이지 정보 출력 -->
    <select id="mypage" parameterType="String" resultType="com.spring.mapper.MemberVO">
        select * from mo_member where id = #{id}
    </select>
    
    <!-- 마이페이지 정보 수정 -->
    <update id="updateMypage" parameterType="com.spring.mapper.MemberVO">
     	update mo_member set pw = #{pw}, age = #{age}, checknum = #{checknum} where id = #{id}
    </update>
    
    <!-- 탈모 기본정보 출력 -->
    <select id="info" resultType="com.spring.mapper.InfoVO">
        select * from mo_info
    </select>
</mapper>